<nav class="bg-gray-900 py-4">
    <div class="container mx-auto">
        <ul class="flex space-x-6">
            <li><a href="/" class="text-white hover:text-gray-300">Home</a></li>
            <li><a href="/about/" class="text-white hover:text-gray-300">About</a></li>
            <li><a href="/blog/" class="text-white hover:text-gray-300">Blogs</a></li>
            <li><a href="/subscribe/" class="text-white hover:text-gray-300">Subscribe</a></li>
            <li>
                {% if user.is_authenticated %}
                <a href="/blog/create/" class="text-white hover:text-gray-300">Create Blog</a>
                {% else %}
                <a href="{% url 'login' %}" class="text-white hover:text-gray-300">Login to Create Blog</a>
                {% endif %}
            </li>

        </ul>
    </div>
</nav>